* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
    height:40px
   
  }
  
  nav {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
  }
  nav ul {
    display: flex;
    list-style: none;
  }
  nav ul li {
    margin-right: 50px;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 20px; */
  }
  main .article {
    background-color: #fff;

    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 50px;
    padding: 20px;
    width: 30%;

  }
  main .article h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  main .article p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  main .article img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  
  footer {
    background-color:black;
    color: #fff;
    padding: 20px;
    margin-top: 20%;
    text-align: center;
  }


  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
}

header {
  background-color: black;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin-right: 50px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}

select {
  padding: 10px;
  margin: 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding: 20px; */
}
main .article {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  width: 30%;
}
main .article h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
main .article p {
  font-size: 16px;
  margin-bottom: 10px;
}
main .article img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

footer {
  background-color: black;
  color: #fff;
  padding: 20px;
  margin-top: 20%;
  text-align: center;
} 